.heading {
    /* font-size: 50px;
    font-weight: bold;
    color: rgb(59, 0, 168);
    text-align: center;
    padding: 10px; */
    /* margin: 10px; */

    font-size: 50px;
    font-weight: bold;
    color: rgb(59, 0, 168);
    /* text-align: center; */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 650px;
}

.instructions {
    border: 2px solid gray;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    margin-left: 70px;
    /* margin: 10px; */
    color: rgb(59, 0, 168);
    font-family: sans-serif;
    font-weight: unset;
    background-color: beige;
    position: absolute;
}

.instructions h1 {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.instructions p {
    font-size: 17px;
    text-align: center;
}

.instructions ol {
    padding: 10px;
}

.instructions ol li {
    padding: 3px;
    list-style: decimal;
}

.break1 {
    border: rgb(184, 184, 184) 1px solid;
    margin-bottom: 10px;
    width: 140px;
    text-align: center;
    position: relative;
    left: 90px;
}

.break2 {
    border: rgb(184, 184, 184) 1px solid;
    text-align: center;
    margin-top: 10px;

}


body {
    background-image: url(../images/water.png);
    width: min-content;
    background-size: cover;
}

canvas {
    width: 900px;
    height: 600px;
    position: relative;
    left: 460px;
    bottom: 240px;
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: white; */
    background-image: url('../images/desert.jpeg');
    cursor: pointer;
    
}

#ramen {
    /* width: 80px;
    position: relative;
    bottom: 700px;
    right: 220px; */
    width: 1px;
}

.goku {
    /* width: 70px;
    position: relative;
    bottom: 700px;
    right: 245px; */
    width: 1px;
}

.naruto {
    /* width: 50px;
    position: relative;
    bottom: 1100px;
    right: 700px; */
    width: 1px;
}

.goku2 {
    width: 1px;
}

.naruto1 {
    width: 1px;
}

.kame {
    width: 1px;
}

.start {
    width: 1px;
}

.social {
    /* position: absolute; */
    /* left: 85%; */
    /* left: 8%; */
    /* bottom: 53%; */
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    color: rgb(59, 0, 168);
    font-family: sans-serif;
    font-size: 19px;
    background-color: beige;
    margin-left: 140px;
    width: 300px;
    margin-left: 70px;
    position: relative;
    top: 550px;


}

.social p {
    padding-bottom: 10px;
    text-align: center;
}

a {
    width: 100px;
    /* margin-bottom: 30px; */
    padding: 5px;
}

a:hover {
    background-color: #d3f4ff;;
    border-radius: 10px;
}

.name {
    font-family: cursive;
    padding: 0;
}

.instsoc {
    position: relative;
    bottom: 60px;
}